#audio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px dashed black;
  width: 387px;
  height: 140px;
}

#audio-change {
  margin-top: 1px;
  margin-bottom: 2px;
}

#player {
  margin-top: 10px;
}
