/* JS에서 쓰는 클래스*/
.hidden {
  display: none;
}
.flex {
  display: flex;
}

/*큰 틀*/

body {
  overflow-x: hidden;
  background: #9c2ec3 url("backgroundImage/bg3.jpg") repeat fixed;
  background-size: cover;
  min-width: 0px;
  min-height: 0px;
}
.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
#window-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  position: relative;
  position: absolute;
  top: 100px;
  width: 480px;
  height: 500px;
  padding: 5px;
}
#picture-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -350px;
  bottom: -100px;
  z-index: 1;
  width: 400px;
  height: 480px;
  padding: 5px;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  width: 480px;
  height: 476px;
  bottom: 5px;
  background-color: white;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey, inset -2px -2px #fff,
    inset 2px 2px#0a0a0a;
}

#picture-screen .title-bar {
  width: 393px;
  position: absolute;
}
#picture-screen .detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  overflow-y: auto;
  width: 400px;
  height: 456px;
  bottom: 5px;
  background-color: white;
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey, inset -2px -2px #fff,
    inset 2px 2px#0a0a0a;
}

.title-bar {
  width: 475px;
  position: absolute;
}
.title-bar-controls button:first-child {
  margin-right: 2px;
}

.title-bar-text img {
  width: 12px;
  height: 12px;
}

.windowborder {
  width: 477px;
  padding: 2px;
  box-shadow: none;
}


.icon-base{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;

  padding-top: 15px;
  
  
}

.bg-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.bg-icon img{
  width: 35px;
  height: 35px;
}

.bg-icon p{
  font-size: 13px;
  color: white;
}