footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

#start-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
}

/*시작 버튼*/
#start-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0px;
  min-width: 0px;
  padding: 0;
  width: 60px;
  height: 23px;
  font-size: 12px;
  font-weight: 600;
}
#start-bar button img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

/*시계 파트*/
.tray {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-top: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  height: 18px;
  width: 79px;
  margin-right: 5px;
  margin-bottom: 2px;
}
.date-icon img {
  margin-top: 4px;
  margin-right: 4px;
  width: 15px;
  height: 15px;
}
#ampm {
  margin-left: 3px;
}

/* 하단바 아이콘 및 분리선 */
.icon-wrapper {
  display: flex;
  width: auto;
  height: auto;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
}
.icons img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.icons img:first-child {
  margin-left: 3px;
}
.icons img:nth-child(2) {
  margin-bottom: 1px;
}

.big_separator {
  border-left: 1px solid rgb(128, 128, 128);
  border-right: 1px solid rgb(255, 255, 255);
  height: 22px;
  margin-top: 2px;
  margin-left: 2px;
}
.small_separator {
  border-left: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
  background-color: rgb(192, 192, 192);
  width: 1px;
  height: 16px;
  margin-top: 4px;
  margin-left: 2px;
}

/*시작 메뉴*/

#start-menu {
  background-image: url(sprite/master_sprite.png);
  width: 168px;
  height: 0;
  transition: height 0.5s ease-in-out;
}

.visible {
  height: 415px;
}
